.photo_box_add {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 22vh;
  max-width: calc(100% / 4 - 2.5rem);
  margin: 1rem;
  border-radius: 0.55rem;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
  transition: bottom 600ms;
  cursor: pointer;
  background-color: white;
  opacity: 0.8;

  &:hover {
    bottom: 10px;
  }
  .add_photo_category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  @media only screen and (max-width: 1433px) {
      max-width: calc(100% / 3 - 2.6rem);
      min-height: 17vw;
  }
  @media only screen and (max-width: 1150px) {
      max-width: calc(100% / 2 - 3.125rem);
      min-height: 23vw;
  }
  @media only screen and (max-width: 940px) {
      max-width: calc(100% - 4rem);
      min-height: 40vw;
  }
}
