.header-content {
  color: white;
  letter-spacing: 0.3rem;
  margin: 1rem;
  opacity: 80%;

  .back_icon_div {
    display: flex;

    #back_icon {
      margin-right: 1.2rem;
    }
  }

  .line {
    border-top: 2px solid;
    margin-bottom: 3rem;
    opacity: 50%;
  }
}
